button
{font-family: fantasy;
    font-size: 13px;
    border-radius: 18px;
    background-color: #d2e2e3;
    border: transparent;
    color: #1c376bd6;
    box-shadow: 1px 2px 7px #c2c2c2;
    width: 118px;
    height: 40px;
    font-weight: 100;
}

